.v-application {
    line-height: 1;
}

/* bars */

.v-toolbar{
    height: 32px !important;
}
.v-toolbar__content {
    height: 30px !important;
    padding: 1px;
}

.v-app-bar__nav-icon {
    height: 28px !important;
    width: 28px !important;
    margin-left: 0 !important;
}

.v-toolbar .v-toolbar__content .v-btn {
    height: 24px;
    padding: 0 12px 0 12px;
    min-width: 36px;
    font-size: 12px;
    margin-left: 3px;
}

/* content */
.v-content {
    padding: 30px 0px 0px !important;
}

/* text field */
.v-text-field input {
    padding: 2px 2px 2px 2px;
}

.v-text-field .v-label {
    top: 4px;
}

/* button */
.v-btn:not(.v-btn--round).v-size--default  {
    height: 24px;
    padding: 1px 8px 1px 8px;
    text-transform: none;
}

/* menu items */
.v-menu__content .v-list .v-list-item {
    min-height: 20px;
    padding: 0 8px 0 8px;
}

/*tree-view */
.v-treeview .v-treeview-node__root {
    min-height: 14px;
    padding: 0 4px 0 4px;
}
.v-treeview .v-treeview-node__level {
    width: 16px;
}

.v-treeview .v-treeview-node__toggle,
.v-treeview .v-treeview-node__toggle--open {
    font-size: 24px;
    height: 20px;
    width: 20px;
}

.v-treeview .v-treeview-node__content {
    height: 20px;
    margin-left: 2px;
}

/* list view */
.v-list .v-subheader {
    height: auto;
    padding: 4px 8px;
}
.v-list .v-item-group .v-list-item .v-list-item__icon {
    margin: 0 4px 0 0;
}

.v-list .v-list-item {
    min-height: auto;
    padding: 0 4px 0 4px;
}

/* slider */
.v-slider--horizontal {
    min-height: 20px;
}

/* radio */
.v-radio {
    margin-bottom: 0px !important;
}

/* select */

.v-select .v-select__selection  {
    margin: 0;
}

.v-select input {
    padding: 0;
}

.v-select .v-input__append-inner {
    margin-top: 0;
}

.v-select .v-icon {
    font-size: 24px;
    height: 20px;
    width: 20px;
}

/* overflow button */
.v-overflow-btn .v-select__slot {
    height: auto;
}
.v-overflow-btn .v-input__slot {
    border-style: none;
}
.v-overflow-btn .v-input__append-inner {
    height: 0px;
}

/* other content */

.v-input {
    margin: 0;
    padding-top: 0;
}
.v-input__slot {
    margin-bottom : 0 !important;
    border-top: 0;
    border-bottom: 0;
}

.v-messages {
    min-height: 10px;
}

.v-text-field__details {
    min-height: 0px;
}

.v-list {
    padding: 0;
}

.v-list-item__content {
    padding: 0 !important;
}


/* for table */

.v-data-footer .v-btn--icon {
    height: 24px;
    width: 24px;
}

.v-data-footer .v-data-footer__pagination {
    margin: 0 12px 0 8px;
}

.v-data-footer .v-data-footer__select .v-select {
    margin: 0 0 0 12px;
}

/* for picker */
.v-picker__title {
    padding: 0;
}
.v-date-picker-title__year {
    margin-bottom: -14px !important;
}

.v-date-picker-title__date {
    font-size: 24px;
    text-align: center !important;
    margin-top: 2px;
}
.v-date-picker-header {
    padding: 0px 16px;
}

.v-date-picker-table--date .v-btn, .v-date-picker-header .v-btn {
    height: 34px;
    width: 34px;
}
.v-date-picker-table--date th {
    padding: 1px;
}
.v-date-picker-header__value button {
    padding: 2px;
}

/* time picker */
.v-time-picker-title__time .v-picker__title__btn, .v-time-picker-title__time span {
    height: 30px;
    font-size: 30px;
}

.v-time-picker-title {
    justify-content: center;
}

.v-time-picker-clock__ampm {
    padding: 0 0 0 15px;
    width: 240px;
    height: 240px;
}
.v-time-picker-clock__container {
    transform: scale(1);
}

.theme--dark.v-picker__body {
    width: 260px !important;
    height: 240px !important;
}

